# Go
erp
*.exe
*.dll
*.so
*.dylib

# 数据库
database/*.db
database/*.db-shm
database/*.db-wal

# 前端
node_modules/
frontend/node_modules/
embedded/dist/
frontend/dist/

# 编辑器
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# 日志
*.log
